# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# build
build/*


# latex files
docs/*.aux
docs/*.log
docs/*.out
docs/*.synctex.gz
docs/*.toc
docs/*.bbl
docs/*.fdb_latexmk
docs/*.fls
compile_run.zsh
.gitignore
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
.DS_Store
